.btn-primary{
    --bs-btn-bg: #2ec3de;
    --bs-btn-border-color: #2ec3de;
    --bs-btn-hover-bg: #0da7c3;
    --bs-btn-hover-border-color: #0da7c3;
}
.banner img{
    max-width: 90vw;
}
h1{
    font-size: 62px;
    color: #23a6bd;
}
.sub-page-1 h1{
    font-size: min(8.4vw,47px);
}
.banner p{
    font-size: 21px;
}
.notification{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 1% 10% 1% 3%;
    margin: 0% 2%;
    border-radius: 10px;
    animation: fadein 700ms linear forwards;
}
.floating-object{
    inset: 0;
    display: grid;
    place-items: center;
}
@keyframes fadein {
    0%{
        opacity: 0;
        pointer-events: none;
        transform: translateY(100%);
    }    
    100%{
        opacity: 1;
        pointer-events:all;
        transform: translateY(0%);
    }
}
.notification h6{
    font-size: 15px;
    color: rgb(76, 76, 76);
}
.notification h5{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.895);
}

