{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Log In</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  
</head>
<body class="align">

  <div class="grid align__item">

    <div class="register">

      <img src="{% static 'images/login.png' %}" class="site__logo" width="70" height="70" viewBox="77.7 214.9 274.7 412" alt="">

      <h2>Log In</h2>

      <form action="" method="post" class="form">
        
        {% csrf_token %}
        
        <div class="form__field">
          <input type="text" name="username" placeholder="username">
        </div>

        <div class="form__field">
          <input type="password" name="password" placeholder="••••••••••••">
        </div>

        <div class="form__field">
          <input type="submit" value="Log In">
        </div>

      </form>
    </div>
  </div>
</body>
</html>
